
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
:root{
    --cor-vermelho: #d2232a;
    --cor-amarelo: #fad43b;
}

body{
    margin: 0px;
}

.menu{
    height: 200px;
    border: 5px white;
    position: relative;
}
.menu-top{
    height: 75px;
    background-color: var(--cor-vermelho);
}
.menu-bottom{
    height: 40px;
    background-color: black;
}


.menu img{
    width: 140;
    position: relative;
    left: 150;
}
.menu h1{
    position: absolute;
    top: 15;
    left: 300;
    color: var(--cor-amarelo);
    font-family: Bahnschrift;
}


@media (max-width: 999px) {

    .menu{
        height: 40vh;
       
        
    }
    .menu-top{
    height: 150px;    
}
    .menu-bottom{
        height: 75px;
    }
    .menu img{
    left: 0;
    margin: auto;
    display: block;
    width: 300px;
    
    }
    .menu h1{
        display: none;
    }
    .nextgame{
        margin-top: 0;
        margin-left: 40px;
    }
    .nextgame h4{
        margin: 0;
        font-size: 27px;
        font-family: Koulen;
    }
    .nextgame img{
        width: 300;
    }

}